<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>256227659754-2strnpi6okq9lrgol9ka6l77uegl5dlf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.256227659754-2strnpi6okq9lrgol9ka6l77uegl5dlf</string>
	<key>API_KEY</key>
	<string>AIzaSyBcjeiCl9f7PP3yKH-qa-nwOZOZAPa18ek</string>
	<key>GCM_SENDER_ID</key>
	<string>256227659754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-21dbc</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-21dbc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256227659754:ios:1cfe0e102527f4450bec93</string>
</dict>
</plist>